.shadow-example {
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 2); 
            color: radial-gradient(circle, green, red);
            font-size: 50px;
			text-align: center;
			font-weight: bold;
            background: radial-gradient(circle, rgb(248, 41, 41), rgb(245, 246, 247));
            border-radius: 50px;
        }
.box-shadow-example {
            box-shadow: 1px 3px 15px rgba(0, 0, 0, 1);
            padding: 5px;
            color: white;
			text-align: center;
			font-size: 20px;
			font-style:italic;
			font-weight: bold;
			background: radial-gradient(circle, rgb(13, 0, 128), rgb(238, 147, 147));
}        
nav a{
text-decoration: none;
color: rgb(2, 14, 121);
text-align: center;
padding: 15px;
}
nav{
   background: radial-gradient(circle, green, rgb(243, 242, 242)); 
   padding: 10px;
   margin: 10px;
}
nav a:hover{
    background-color: red;
    border-radius: 10px;
}
container{
    display: flex;
    border-radius: 15px;
}
#main{
    background: radial-gradient(circle, rgb(44, 188, 245), rgb(249, 249, 250));
    width: 40%;
    height: auto;
    padding: 30px;
}
#mainn{
    background: radial-gradient(circle, rgb(69, 250, 123), rgb(249, 249, 250));
    width: 40%;
    padding: 30px;
}
#sdber{
    background: radial-gradient(circle, rgb(47, 44, 245), rgb(249, 249, 250));
    width: 20%;
    padding: 20px;
}
#proimg{
  border: 5px red solid;
    width: 90%;
    border-radius: 20px;
    height: 120px;
    padding: 10px;  
}
footer{
    background: radial-gradient(circle, rgb(13, 0, 128), rgb(238, 147, 147));
    border-radius: 20px;
    padding:.05px;
    margin: 10px;
    color: #f7f2f2;
}
#product{
    border: 5px red solid;
    width: 100%;
    border-radius: 20px;
    height: 120px;
    padding: 10px;
    display: flex;
}
#productc{
    border: 5px red solid;
    width: 30%;
    border-radius: 20px;
    height: 105px;
    padding: 3px;
}
#productct{
    border: 5px red solid;
    width: 65%;
    border-radius: 20px;
    height: 105px;
    padding: 3px;
}